
{% extends 'base.html' %}
{% load static %}
<!-- Styles block -->
{% block styles %}

    {{block.super}}
      <link rel="stylesheet" href="{% static 'css/index.css'%}">

{% endblock %}

 {% block content %}


   <div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url('http://upload.wikimedia.org/wikipedia/commons/4/46/Jennifer_Lawrence_at_the_83rd_Academy_Awards.jpg');background-size:cover;">
   <!-- <div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url('{{STATIC_URL}}../images/rehab.jpeg);background-size:cover;"> -->

     <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
         <h1 uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;"style="color:rgb(9, 248, 255);font-size:100px;" >iRehab</h1>


         <p uk-margin>
           <a href="{% url 'Choose' %}">
             <button class="uk-button uk-button-primary uk-button-large" style="background-color:rgb(9, 248, 255);font-size:10px;">Get Started</button>
           </a>

         </p>
     </div>
 </div>



            

<div class="col-md-6">

     <!-- {% if profile.user_type != 'admin' %}
    <button class="uk-button uk-button-secondary uk-button-large" style="background-color:rgb(9, 248, 255);font-size:15px;">Out-Patient</button>
    <button class="uk-button uk-button-secondary uk-button-large" style="background-color:rgb(9, 248, 255);font-size:15px;">Out-Patient</button>
    <button class="uk-button uk-button-secondary uk-button-large" style="background-color:rgb(9, 248, 255);font-size:15px;">Out-Patient</button>
    {% endif %} -->
    {% if profile.user_type == "admin" %} 
    <section class=""style="margin-top:40px;">
        <p uk-margin>
            <a href="{% url 'OutBook' %}">
              <button class="uk-button uk-button-secondary uk-button-large" style="background-color:rgb(9, 248, 255);font-size:15px;">Out-Patient</button>
            </a>

            <a href="{% url 'InBook' %}">
              <button class="uk-button uk-button-secondary uk-button-large" style="border-color:rgb(9, 248, 255);font-size:15px;">In-Patient</button>
            </a>

            <a href="{% url 'ViewRecord' %}">
              <button class="uk-button uk-button-primary uk-button-large" style="background-color:rgb(9, 248, 255););font-size:15px;">View Records</button>
            </a>
        </p>
        </section>
    {% endif %}


</div>

<div class="col-md-6">

  <p uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;"style="color:rgb(9, 248, 255);font-size:20px;position:auto;margin-top:40px;">Welcome to the ultimate road to transformation.</p>
</div>




<script type='text/javascript'>
  (function(){
    if( window.localStorage ){
    if( !localStorage.getItem('firstLoad') )
  {
    localStorage['firstLoad'] = true;
    window.location.reload();
  }
  else
    localStorage.removeItem('firstLoad');
  }
  })();
</script>



{% endblock %}
