
{% extends 'base.html' %}
{% load static%}
<!-- Styles block -->
{% block styles %}

    {{block.super}}
      <link rel="stylesheet" href="{% static 'css/index.css'%}">

{% endblock %}

 {% block content %}


      <hr style="color:rgb(19, 175, 167);">


      <section class="col-md-8 col-md-offset-2">

                <table class="uk-table uk-table-hover uk-table-condensed">
                    <caption><h4>Reserve an in-patient vacancy</h4></caption>
                    {% if vacancies %}
                    <caption><h5 style="font-size:15px;color:rgb(20, 221, 106);">{{vacancies|length}} reservations available</h5></caption>

                    <thead>
                        <tr>
                          <th style="font-size:15px;color:rgb(9, 248, 255);">STARTS</th>
                          <th style="font-size:15px;color:rgb(9, 248, 255);">ENDS</th>
                          <th style="font-size:15px;color:rgb(9, 248, 255);">ACTION</th>
                        </tr>
                    </thead>


                        <tbody>
                          {% for vacancy in vacancies %}
                            <tr>
                                <td>{{vacancy.starting_date }}</td>
                                <td>{{vacancy.finish_date  }}</td>
                                <td>
                                   <a href="{% url 'ReserveInpatient' vacancy.id %}">
                                      <button class="uk-button uk-button-primary uk-button-small" style="background-color:rgb(9, 248, 255);font-size:12px;">Reserve</button>
                                  </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>

                    {% endif %}


      </section>

{% endblock %}
